/* Imports */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300);

/* Global properties (debugging) */
*{outline:1px solid rgba(255,0,85,0.2);}

/* DOM Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    font-size:100%;
    font:inherit;
    vertical-align:baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display:block;
}
body {
    line-height:1;
}
ol, ul {
    list-style:none;
}
blockquote, q {
    quotes:none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}
table {
    border-collapse:collapse;
    border-spacing:0;
}

/* Fix those border sizes */
*, *:before, *:after {
  -moz-box-sizing:border-box;
  box-sizing:border-box;
}

/* Element box & position */
#wrapper{
    position:absolute;
    height:100%;
    width:100%;
}

header{
    width:100%;
    height:10px;
    position:absolute;
    -webkit-transition:all 600ms;
    transition:all 600ms;
}

#fork, #ver{
    position:absolute;
    padding:10px;
}
#fork{
    right:0;
}

#left{
    width:70%;
    float:left;
}

#right{
    width:30%;
    float:left;
}

main, #input, #history{
    margin:auto;
    width:80%;
    padding:20px;
}

main{
    padding-top:50px;
}

#history{
    height:-webkit-calc(100% - 240px);
    height:calc(100% - 240px);
    overflow: -moz-scrollbars-vertical; 
    overflow-y: scroll;
    line-height:1.5em;
    /* Word wrap the text in the history */
    white-space: pre-wrap;      /* CSS3 */   
    white-space: -moz-pre-wrap; /* Firefox */    
    white-space: -pre-wrap;     /* Opera <7 */   
    white-space: -o-pre-wrap;   /* Opera 7 */    
    word-wrap: break-word;      /* IE */
}

#controls, #textinput{
    padding:10px;
    width:100%;
    border:none;
    margin:0;
}

#textinput{
    width:-webkit-calc(100% - 100px);
    width:calc(100% - 100px);
    -webkit-transition:all 300ms;
    transition:all 300ms;
    outline-offset:0;
}

#textinput:focus{
    border:none;
    margin:0;
    outline:solid 1px rgba(255,0,85,1);
    outline-offset:-5px;
}

button{
    width:90px;
    height:2em;
    margin:0;
    outline:0;
    background:rgba(0,0,0,0);
    border:none;
    cursor:pointer;
}

#chat{
    height:100%;
    border:none;
}

footer{
    margin:auto;
    position:relative;
    position:absolute;
}


.user, .system{
    display:block;
    margin:10px;

}

.system img{
    max-width:30%;
    opacity:1;
}

.displayname{
    position:relative;
    color:rgba(0,0,0,0.5);
    float:left;
    display:block;
    margin-right:10px;
    -webkit-transition:all 300ms;
    transition:all 300ms;
}

.displayname:after{
    content:": ";
    position:relative;
}

.system:before{
    content:"] ";
    position:relative;
    margin-left:-0.5em;
}

#settings{
    width:60%;
    height:400px;
    padding:40px;
    background:rgba(255,255,255,0.9);
    position:absolute;
    left:50%;
    top:-100%;
    margin-left:-25%;
    margin-top:-200px;
    -webkit-transition:all 300ms;
    transition:all 300ms;
}

ul{
    margin:20px 0 20px 0;
}

li{
    text-align:right;
    width:40%;
    float:left;
    margin:10px;
    clear:both;
}

.item{
    min-width:150px;
    margin:10px;
    float:left;
    outline:0px solid rgba(0,0,0,0.3);
    -webkit-transition:all 300ms;
    transition:all 300ms;
}

.item:hover{
    margin:10px;
    float:left;
    outline:2px solid rgba(255,0,0,0.5);
}

.item:focus{
    margin:10px;
    float:left;
    outline:2px solid rgba(0,200,255,0.5);
}

input[type=checkbox] {
    visibility: hidden;
}
.checkbox {
    width: 20px;
    position: relative;
    float:left;
    outline:0;
}
.checkbox label {
    cursor: pointer;
    position: absolute;
    width: 20px;
    height: 20px;
    top: 0;
    margin-top:7px;
    margin-left:10px;
    left: 0;
    background: #eee;
    border:1px solid #ddd;
}
.checkbox label:after {
    opacity: 0.1;
    content: '';
    position: absolute;
    width: 8px;
    height: 5px;
    background: transparent;
    top: 6px;
    left: 5px;
    border: 3px solid #333;
    border-top: none;
    border-right: none;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.checkbox label:hover:after {
    opacity: 0.4;
}
.checkbox input[type=checkbox]:checked + label:after {
    opacity: 1;
}

/* Base font styling */
html{
    font-family:"Open Sans";
    font-size:1em;
}

h1{
    font-weight:200;
    font-size:3em;
    width:80%;
}

section h1{
    font-weight:200;
    font-size:2em;
    text-align:center;
    padding:1em;
}

#fork{
    text-decoration:none;
}

main h2{
    width:20%;
    float:left;
    margin-left:80%;
    margin-top:-2em;
    padding:0.5em 0 0.5em 0;
    text-decoration:none;
    display:block;
    font-size:1.5em;
    text-align:center;
    -webkit-transition:all 300ms;
    transition:all 300ms;
    font-weight:200;
    cursor:pointer;
}

main h2:hover, main h2:hover{

}

main h2:before, #fork:before{
    content:"[ ";
    opacity:0;   
    -webkit-transition:all 500ms;   
    transition:all 500ms;
}
main h2:after, #fork:after{
    content:" ]";
    opacity:0;   
    -webkit-transition:all 500ms;   
    transition:all 500ms;
}
main h2:hover:after, main h2:hover:before, #fork:hover:after, #fork:hover:before{
    opacity:1;
}

/* Base colour scheme */
::-moz-selection{color:#aaa;background:#ddd;}
::selection{color:#aaa;background:#ddd;}

.system{
    color:rgba(0,0,0,0.6);
    background:rgba(255,55,145,0.1);
}

header{
    background-image:-webkit-linear-gradient(rgba(0,255,0,0.3), rgba(0,255,0,0));
    background-image:linear-gradient(
      rgba(0,255,0,0.3), rgba(0,255,0,0)
      );
}